Risk Rating:
<div class="risk-rating-value">
    <div data-name="{{ field_name }}"
        class="heading {{#if editable}}editable{{/if}}{{#unless value }} missing{{/unless}}"
        >{{#if value}}{{ value }}{{else}}{{#if editable }}Click to add {{name }}{{else}}&nbsp;{{/if}}{{/if }}</div>
</div>
